.removed {
    display: none;
}

#status {
    font-size: 150%;
}

body {
    background-color: #E8EAED;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 8em auto;
    height: 100%;
    width: 100%;
    margin: 3em;
    padding: 0;
}

.block1 {
    grid-area: 1 / 1 / 2 / 2;
}

.block2 {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: space-between;
}

.block3 {
    grid-area: 2 / 1 / 3 / 2;
}

.block4 {
    grid-area: 2 / 2 / 3 / 3;
    margin: 2rem 0 0 1rem;

}

section.objectClass {
    margin-top: 2rem;
    max-width: fit-content;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    background-color: #fff;
    box-sizing: border-box;

}

section.objectClass .header {
    border-bottom: 1px solid #dedede;
    padding: 1em;
}

section.objectClass .header>* {
    margin-left: 1em;
}

section.objectClass .body {
    padding: 1em;
}

section.objectClass .body>* {
    margin-top: 1em;
}